<ul
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
>
    <!-- Sidebar - Brand -->
    <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        href="/tmep/"
    >
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">FnB ERP</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/tmep/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>대시보드</span></a
        >
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item active">
        <a class="nav-link" href="/tmep/orders">
            <i class="fas fa-fw fa-table"></i>
            <span>발주</span></a
        >
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/tmep/sale">
            <i class="fas fa-fw fa-table"></i>
            <span>매출</span></a
        >
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/tmep/my">
            <i class="fas fa-fw fa-table"></i>
            <span>My Page</span></a
        >
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="\">
            <i class="fas fa-fw fa-table"></i>
            <span>키오스크 화면</span></a
        >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
