{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FnB-발주현황</title>

    <!-- Custom fonts for this template -->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{%static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <nav>{%include 'nav.html'%}</nav>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <nav>{%include 'topbar.html'%}</nav>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">발주 현황</h1>
                    <ul class="list-group list-group-horizontal">
                        <a href="/tmep/orders" class="list-group-item list-group-item-action active">
                            <span class="text">발주 현황</span>
                        </a>
                        <a href="/tmep/orderapp" class="list-group-item list-group-item-action active-danger">
                            <span class="text">발주 신청</span>
                        </a>
                    </ul>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-primary">Right now</h5>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>날짜</th>
                                            <th>발주 번호</th>
                                            <th>대분류</th>
                                            <th>상품명</th>
                                            <th>재고</th>
                                            <th>단가</th>
                                            <th>주문수량</th>
                                            <th>공급가액</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>날짜 {{i.in_time}}</td>
                                            <td>발주번호 {{i.ord_num}}</td>
                                            <td>대분류 {{i.mate_id.l_cat}}</td>
                                            <td>중분류 {{i.mate_id.m_cat}}</td>
                                            <td>소분류 {{i.mate_id.s_cat}}</td>
                                            <td>상품명 {{i.mate_id.mate_name}}</td>
                                            <td>주문수량 {{i.in_quan}}</td>
                                            <td>단가 {{i.mate_id.unit_cost}}</td>
                                            {% comment %} <script>
                                               var total=i.in_quan*i.mate_id.unit_cost
                                            </script> {% endcomment %}
                                            <td>공급가액(주문수량*단가) {{i.in_total}}</td>
                                            <td>재고 {{i.mate_id.stock}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div>{%include 'footer.html'%}</div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
   

    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{%static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{%static 'js/demo/datatables-demo.js'%}"></script>

</body>

</html>