{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FnB-발주신청</title>
    



    <!-- Custom fonts for this template -->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{%static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% comment %} <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> {% endcomment %}
    {% comment %} <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}

</head>

<body id="page-top">
    

    <!-- Page Wrapper -->
    <div id="wrapper">
        <nav>{%include 'nav.html'%}</nav>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <nav>{%include 'topbar.html'%}</nav>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">발주 신청</h1>
                    <ul class="list-group list-group-horizontal">

                        <a href="/tmep/orders" class="list-group-item list-group-item-action active-danger">
                            <span class="text">발주 현황</span>
                        </a>
                        <a href="/tmep/orderapp" class="list-group-item list-group-item-action active">
                            <span class="text">발주 신청</span>
                        </a>
                    </ul>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">날짜</h6>
                            <h6 class="m-0 font-weight-bold text-primary">발주번호</h6>
                            <ul class="list-group list-group-horizontal float-right">
                                <li class="list-group-item">총액</li>
                                <li id ='total' class="list-group-item"></li>
                            </ul>
                        </div>
                        
                        <div class="card-body">
                            <form>
                            <div class="table-responsive">
                                <table id="dataTable" class="table table-bordered table-hover"  width="100%" cellspacing="0">
                                        
                                    <thead>
                                        <tr>
                                            <th>대분류</th>
                                            <th>상품명</th>
                                            <th>재고</th>
                                            <th>단가</th>
                                            <th>주문수량</th>
                                            <th>공급가액</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr name='mate_3'> 
                                            <td>채소</td>                                        
                                            <td>양파 </td>
                                            <td>재고 </td>
                                            <td >100</td>
                                            <td><input id='stock_1' onkeyup='printName()' /></td>
                                            <td id='result_1'></td>

                                        </tr>
                                        <tr name='mate_7'>
                                            <td>채소</td>                                        
                                            <td>마늘 </td>
                                            <td>재고 </td>
                                            <td >200 </td>
                                            <td><input id='stock_2' onkeyup='printName()'/></td>
                                            <td id='result_2'></td>

                                        </tr>
                                        <tr name='mate_4'>
                                            <td>채소</td>                                        
                                            <td>파 </td>
                                            <td>실험{{mate_3}} </td>
                                            <td >150 </td>
                                            <td><input id='stock_3' onkeyup='printName()' /></td>
                                            <td id='result_3'></td>

                                        </tr>
                                    
                                    </tbody>
                                </table>
                                
                                
                                {% comment %} <div class="col-lg-12" id="ex1_Result2" ></div> {% endcomment %}
                            </div>
                            
                            <div class="container mt-2">
                                <input type='submit'  value='발주신청' class="btn btn-primary float-right mr-3" href="#" role="button"></input>
                            </div>
                        </form>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div>{%include 'footer.html'%}</div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <script>
        $(".checkBtn").click(function(){ 
			
			var str = ""
			var tdArr = new Array();	// 배열 선언
			var checkBtn = $(this);
			
			// checkBtn.parent() : checkBtn의 부모는 <td>이다.
			// checkBtn.parent().parent() : <td>의 부모이므로 <tr>이다.
			//var tr = checkBtn.parent().parent();
			//var td = tr.children();
            

            //var stock_list = checkBtn.nextElementSibling.children();
            var tr = checkBtn.parent().parent();
            var td = tr.children();
            var cnt = td.eq(4).text();

            //var stock_1 = stock_list.eq(0):nth-child(5);
            //var stock_2 = stock_list.eq(1):nth-child(5);
            //var stock_3 = stock_list.eq(2):nth-child(5);

            //var stock_total = (stock_1 + stock_2 + stock_3).text();

        

            
			
			console.log("클릭한 Row의 모든 데이터 : "+tr.text());
			
			//var no = td.eq(0).text();
			//var userid = td.eq(1).text();
			//var name = td.eq(2).text();
			//var email = td.eq(3).text();
			
			
			// 반복문을 이용해서 배열에 값을 담아 사용할 수 도 있다.
			td.each(function(i){	
				tdArr.push(td.eq(i).text());
			});
			
			console.log("배열에 담긴 값 : "+tdArr); 
			
			//str +=	" * 클릭된 Row의 td값: <font color='red'>" + cnt + "</font>"
			str = cnt
			$(".ex2_Result1").html(tr.text());		
			$(".ex2_Result2").html(str);
				

		});
			
    </script>
    
    <script>
    function printName()  {
        const stock_1 = document.getElementById('stock_1').value;
        const pri_1 = 150;
        const sum_1 = (stock_1) * (pri_1);
        document.getElementById("result_1").innerText = sum_1;

        const stock_2 = document.getElementById('stock_2').value;
        const pri_2 = 200;
        const sum_2 = stock_2 * pri_2;
        document.getElementById("result_2").innerText = sum_2;

        const stock_3 = document.getElementById('stock_3').value;
        const pri_3 = 150;
        const sum_3 = stock_3 * pri_3;
        document.getElementById("result_3").innerText = sum_3;

        const total = sum_1 + sum_2 + sum_3
        document.getElementById("total").innerText = total + '원';
      }
    
    </script>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    

    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{%static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{%static 'js/demo/datatables-demo.js'%}"></script>

</body>

</html>