{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FnB-발주신청</title>
    



    <!-- Custom fonts for this template -->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{%static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% comment %} <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> {% endcomment %}
    {% comment %} <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}

</head>

<body id="page-top">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}


    <!-- Page Wrapper -->
    <div id="wrapper">
        <nav>{%include 'nav.html'%}</nav>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <nav>{%include 'topbar.html'%}</nav>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">발주 신청</h1>
                    <ul class="list-group list-group-horizontal">

                        <a href="/tmep/orders" class="list-group-item list-group-item-action active-danger">
                            <span class="text">발주 현황</span>
                        </a>
                        <a href="/tmep/orderapp" class="list-group-item list-group-item-action active">
                            <span class="text">발주 신청</span>
                        </a>
                    </ul>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">날짜</h6>
                            <h6 class="m-0 font-weight-bold text-primary">발주번호</h6>
                            <ul class="list-group list-group-horizontal float-right">
                                <li class="list-group-item">총액</li>
                                <li id ='total' class="list-group-item"></li>
                            </ul>
                        </div>
                        
                        <div class="card-body">
                            <form action="{% url 'template:createform' %}" method='POST'>
                                {% csrf_token %}
                            <div class="table-responsive">
                                <table id="dataTable" class="table table-bordered table-hover"  width="100%" cellspacing="0">
                                        
                                    <thead>
                                        <tr>
                                            <th>상품번호</th>
                                            <th>상품명</th>
                                            <th>재고</th>
                                            <th>단가</th>
                                            <th>주문수량</th>
                                            <th>공급가액</th> 
                                        </tr>
                                    </thead>
                                    <tbody>                                      
                                        {% for i,j in mate_recipe_list %}
                                        <tr>
                                            <input type='hidden' name='mateid' value='{{i.mate_id}}'></input>
                                            <td>{{i.mate_id}}</td>                                        
                                            <td>{{i.mate_name}}</td>
                                            <td>{{i.stock}}</td>
                                            <td name='cost'>{{i.unit_cost}}</td>
                                            <td><input type='number' min=0 name='mate_quan' value={{j}}></input></td>
                                            <td name='sum'></td>
                                        </tr>
                                        {%endfor%} 
                                    </tbody>
                                </table>
                                
                            </div>
                            
                            <div class="container mt-2">
                                <input type='submit'  value='발주신청' class="btn btn-primary float-right mr-3" href="#" role="button"></input>
                            </div>
                        </form>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div>{%include 'footer.html'%}</div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <script>
        $(document).ready(function() {

            $("input[name=mate_quan]").on('change keyup', function() {

            //alert("dd")
            //$("#tlist").keydown(function(){ 
    
            //alert( document.getElementsByName("cost")[0].innerHTML )
    
            var size = document.getElementsByName('mate_quan').length;
    
             //   var unit_cost = [30,50,40,50,100,170,80,30,300,170];
            var total_list = [];
            for(var i = 0; i < size; i++){
                var mate_quan = document.getElementsByName("mate_quan")[i].value;
                var unit_cost = document.getElementsByName("cost")[i].innerText
                var sum = mate_quan * unit_cost;
                total_list.push(sum);
                document.getElementsByName("sum")[i].innerText = sum;
            }
               
            const total = total_list.reduce(function add(sum, currValue) {
            return sum + currValue;
            }, 0);
            document.getElementById("total").innerText = total + '원';	
    
            })
        });

        var minOrderValue = {"무": 5, "마늘": 3}

        

    

    </script>
    
    <script>
        /*
    function printName()  {

        //alert( document.getElementsByName("cost")[0].innerHTML )

        var size = document.getElementsByName('mate_quan').length;

     //   var unit_cost = [30,50,40,50,100,170,80,30,300,170];
        var total_list = [];
        for(var i = 0; i < size; i++){
            var mate_quan = document.getElementsByName("mate_quan")[i].value;
            var unit_cost = document.getElementsByName("cost")[i].innerText
            var sum = mate_quan * unit_cost;
            total_list.push(sum);
            document.getElementsByName("sum")[i].innerText = sum;
        }
           
        const total = total_list.reduce(function add(sum, currValue) {
        return sum + currValue;
        }, 0);
        document.getElementById("total").innerText = total + '원';
      }
      *./
    </script>




    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    

    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{%static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{%static 'js/demo/datatables-demo.js'%}"></script>
    <script>
        window.setTimeout(function() {
            $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 4000);
    </script>

</body>

</html>